@import helper._


@(articles: List[models.Article])(implicit r: RequestHeader, messagesProvider: MessagesProvider)

@main("Golf drills directory") {

  <div class="row">
    <div class="span12">
      <h2>Available articles</h2>
      @if(articles.isEmpty) {
        <p>No articles available yet.</p>
      } else {
      <ul>
      @articles.map { article =>
        <li><a href="@routes.Articles.showEditForm(article.id.get)">@article.groupId:@article.artifactId</a>  <a href="@helper.CSRF(routes.Articles.delete(article.id.get))" class="delete">delete</a></li>
      }
      </ul>
      }
      <div>
        <a href="@routes.Articles.showCreationForm">Create</a>
      </div>
    </div>
  </div>
}
