@import helper._

@(id: Option[String], form: Form[models.Article])(implicit r: RequestHeader, messagesProvider: MessagesProvider)

@main("Edit golf drill") {
  <div class="row">
  <div class="span8">
  <h2>
    @if(!id.isDefined) {
      Add
    } else {
      Edit
    } a golf drill</h2>
  @helper.form(action = helper.CSRF(if(!id.isDefined) routes.Articles.create else routes.Articles.edit(id.get)), 'class -> "form-horizontal") {
    @helper.inputText(form("groupId"))
    @helper.inputText(form("artifactId"))
    @helper.inputText(form("location"))
    @helper.inputText(form("category"))
    @helper.textarea(form("content"))
    @helper.textarea(form("publisher"))
    <div class="form-actions">
      <input class="btn btn-primary" type="submit">
    </div>
  }
  </div>
  </div>
}
