@(id: Option[String], form: Form[models.Article], files: Option[List[(play.api.libs.json.JsString, reactivemongo.api.gridfs.ReadFile[reactivemongo.play.json.JSONSerializationPack.type, play.api.libs.json.JsString])]])(implicit r: RequestHeader, lang: play.api.i18n.Messages)

@main("Welcome to ReactiveMongo Demo") {
  <div class="row">
  <div class="span8">
  <h2>
    @if(!id.isDefined) {
      Add
    } else {
      Edit
    } an article</h2>
  @helper.form(action = helper.CSRF(if(!id.isDefined) routes.Articles.create else routes.Articles.edit(id.get)), Symbol("class") -> "form-horizontal") {
    @helper.inputText(form("title"))
    @helper.inputText(form("publisher"))
    @helper.textarea(form("content"))
    <div class="form-actions">
      <input class="btn btn-primary" type="submit">
    </div>
  }
  </div>
  <div class="span4">
  <h2>Attachments</h2>
  @if(id.isDefined) {
    @if(files.isDefined) {
    <ul>
      @files.get.map { file =>
      <li><a href="@helper.CSRF(routes.Articles.getAttachment(file._1.value))">@file._2.filename</a> - <a target="_blank" href="@helper.CSRF(routes.Articles.getAttachment(file._1.value))?inline=true">inline</a> - <a class="delete" href="@helper.CSRF(routes.Articles.removeAttachment(file._1.value))">delete</a></li>
      }
    </ul>
    }
    @helper.form(action = helper.CSRF(routes.Articles.saveAttachment(id.get)), Symbol("enctype") -> "multipart/form-data") {
      <input type="file" name="picture">
      <div>
        <input type="submit" class="btn">
      </div>
    }
  }
  </div>
}
